@import "tailwindcss";

/* Reset default body margin and ensure full width */
html, body #root {
  margin: 0 !important;  
  padding: 0 !important;
  height: 100%;
}

body {
  background-color: #f9fafb; /* bg-gray-50 */
  color: #1f2937; /* text-gray-800 */
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
